body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #b2b6bd;
    font-size: 18px;
}

.header { 
    background-color: #1f2937;
    flex-direction: row;
    display: flex;
    height: 530px;
    width: 100%;
}
/*this is my row container */

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
/*this is my column container nested in my row container */

.left-column {
    padding-left: 200px;
    width: 470px;
}

.right-column {
    padding-right: 190px;
}

.logo {
    font-weight: bold;
    color: #f9faf8;
    font-size: 24px;
    margin-top: 15px;
    margin-left: 5px;
}

.top-right {
    display: flex;
    margin-left: 40px;
    margin-top: 5px;
}

.hero-container {
    margin: 5px;
}

.hero-main-text {
    margin-top: 120px;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary-text {
    color:#b2b6bd;
    font-size: 18px;
}

.button1 {
    background-color: #3882F6;
    color: #f9faf8;
    width: 130px;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
    border: 0;
    margin-top: 15px;
}

.image-placeholder {
    margin-top: 90px;
    display: flex;
    height: 240px;
    width: 500px;
    background-color: #6d747d;
    color: #e5e7eb;
    align-items: center;
    justify-content: center;
}

.middle {
    height: 390px;
}

.random-information {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    margin-top: 5px;
}

.boxes {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 220px;
    gap: 50px;
    margin-bottom: 5px;
}

.box-1,
.box-2,
.box-3,
.box-4 {
    width: 160px;
    height: 160px;
    border: 5px #3882F6;
    border-style: solid;
    border-radius: 18px;
}

.contents {
    display: flex;
    flex-direction: row;
    color: grey;
    flex-basis: 100%;
    text-align: center;
    margin: 0px 300px;
    gap: 56px;
}

.contents-1,
.contents-2,
.contents-3,
.contents-4 {
    font-size: 18px;
}

.quote-container {
    background-color: #e5e7eb;
    height: 440px; 
    display: flex;
    flex-direction: row;
}

.quote-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0px 310px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.signature {
    color:#1f2937;
    font-weight: bold;
    font-size: 25px;
}

.bottom {
    height: 330px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottom-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up-container {
    width: 1030px;
    height: 150px;
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.button2 {
    background-color: #3882F6;
    color: #f9faf8;
    width: 130px;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
    border: 2px #f9faf8;
    border-style: solid;
}

.sign-up-main-text {
    color:#f9faf8;
    font-weight: bold;
    font-size: 25px;
}

.sign-up-secondary-text {
    color: #e5e7eb;
}

.footer {
    background-color: #1f2937;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color:#e5e7eb;
    font-size: large;
}